/* 폰트 종류  font.css */
/* 
<sandbox>
font-family: SB_B, sans-serif;
font-family: SB_M, sans-serif;
font-family: SB_L, sans-serif;

<나눔스퀘어>
font-family: Nanum Square EB, sans-serif;
font-family: Nanum Square B, sans-serif;
font-family: Nanum Square M, sans-serif;
font-family: Nanum Square L, sans-serif;

<Gmarket 산스 OTF>
font-family: GmS_B, sans-serif;
font-family: GmS_M, sans-serif;
font-family: GmS_L, sans-serif;

<NEXON Lv.1 고딕>
font-family: NEXON Lv1 Gothic B;
font-family: NEXON Lv1 Gothic M;
font-family: NEXON Lv1 Gothic L;

<NEXON Lv.2 고딕>
font-family: NEXON Lv2 Gothic B;
font-family: NEXON Lv2 Gothic M;
font-family: NEXON Lv2 Gothic L;

<타이포 쌍문동 굴림>
font-family: typo sg;

*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 900;
  font-style: normal;}
@font-face {
  font-family: 'KakaoBigSans-ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoBigSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;}

@font-face {
  font-family: 'KakaoSmallSans-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;}
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;}
  

/*FONT CDN  ______________________________*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/*font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: 'Noto Sans', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
/* font-family: 'Source Sans Pro', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500&display=swap');
/* font-family: 'Exo', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* font-family: 'Staatliches', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@700&display=swap');
/* font-family: 'Bellota', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */


/* ICON FONT ______________________________*/
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
/*font-family: 'Material Symbols Outlined';*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
/*font-family: fontawesome;*/


/* <sandbox> */
@font-face{
  font-family: SB_B;
  src:url('../font/sb_b.woff') format('woff'); 
  }
@font-face{
  font-family: SB_M;
  src:url('../font/sb_m.woff') format('woff'); 
  }
@font-face{
  font-family: SB_L;
  src:url('../font/sb_l.woff') format('woff');  
  }

/* <나눔스퀘어> */
@font-face{
  font-family: Nanum Square EB;
  src:url('../font/NanumSquareEB.woff') format('woff');  
  }
@font-face{
  font-family: Nanum Square B;
  src:url('../font/NanumSquareB.woff') format('woff');  
  }
@font-face{
  font-family: Nanum Square M;  
  src:url('../font/NanumSquareR.woff') format('woff');  
  }
@font-face{
  font-family: Nanum Square L;  
  src:url('../font/NanumSquareL.woff') format('woff');  
  }

/* <Gmarket 산스 OTF> */
@font-face{
  font-family: GmS_B;
  src:url('../font/GmarketSansBold.woff') format('woff');  
  }
@font-face{
  font-family: GmS_M;  
  src:url('../font/GmarketSansMedium.woff') format('woff');  
  }
@font-face{
  font-family: GmS_L;  
  src:url('../font/GmarketSansLight.woff') format('woff');  
  }

/* NEXON Lv1 Gothic OTF */
@font-face{
  font-family: NEXON Lv1 Gothic B;
  src:url('../font/NEXON Lv1 Gothic OTF Bold.woff') format('woff');  
  }
@font-face{
  font-family: NEXON Lv1 Gothic M;
  src:url('../font/NEXON Lv1 Gothic OTF.woff') format('woff');  
  }
@font-face{
  font-family: NEXON Lv1 Gothic L;
  src:url('../font/NEXON Lv1 Gothic OTF light.woff') format('woff');  
  }

/* NEXON Lv2 Gothic OTF */
@font-face{
  font-family: NEXON Lv2 Gothic B;
  src:url('../font/NEXON Lv2 Gothic Bold.woff') format('woff');  
  }
@font-face{
  font-family: NEXON Lv2 Gothic M;
  src:url('../font/NEXON Lv2 Gothic.woff') format('woff');  
  }
@font-face{
  font-family: NEXON Lv2 Gothic L;  
  src:url('../font/NEXON Lv2 Gothic light.woff') format('woff');  
  }

/* 타이포 쌍문동 굴림 */
@font-face{
  font-family: typo sg;
  src:url('../font/Typo_SsangmundongGulimB.woff') format('woff');  
  }